name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Zip Component
        run: |
          cd custom_components
          zip -r ../p2z_tracker.zip p2z_tracker

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: p2z_tracker.zip
